@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfcf9;
  --foreground: #1c241b;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
